@import "tailwindcss";

:root {
  --primary: #f13a01; /* Deep Blue or your favorite shade */
}
.bg-primary {
  background-color: var(--primary);
}
.text-primary {
  color: var(--primary);
}
.border-primary {
  border-color: var(--primary);
}

section.hero {
  @apply grid;
  grid-template-columns: 0.4fr 0.6fr;
}
input[type="email"],
input[type="password"],
input[type="text"],
input[type="number"],
input[type="tel"] {
  @apply block w-full mb-2 rounded-2xl;
  @apply border border-gray-200 pl-2 pr-20 py-2  focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500;
}
input[type="email"]:disabled,
input[type="password"]:disabled,
input[type="tel"]:disabled,
input[type="text"]:disabled {
  @apply bg-gray-300;
  @apply cursor-not-allowed;
}
button,.button {
  @apply flex gap-2 justify-center text-gray-700 w-full font-semibold;
  @apply border-0 rounded-2xl px-6 py-2;
}
button[type="submit"],
.submit {
  @apply border-0 px-2  text-white;
}
button[type="submit"]:disabled,
.submit:disabled {
  @apply cursor-not-allowed bg-red-400 border-0 !text-gray-400;
}


label{
  @apply text-gray-500 text-sm leading-tight;
}
label+input{
  margin-top:-2px;
}
div.tabs > *{
  @apply  bg-gray-300 text-gray-700 rounded-full py-2 px-4;
}
div.tabs>*.active{
  @apply text-white;
  background-color: #f13a01;
}